<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero2oneit.mall.system.role.mapper.RoleMapper">

    <!-- 添加角色信息 -->
    <insert id="add">
         INSERT INTO sys_p_role(role_name,role_code,user_id,create_time,note)
         VALUES(#{roleName},#{roleCode},#{userId},#{createTime},#{note})
    </insert>

    <!-- 编辑角色信息 -->
    <update id="edit">
          UPDATE sys_p_role SET role_name=#{roleName},role_code=#{roleCode},note=#{note} WHERE id=#{id}
    </update>

    <!-- 根据id删除角色信息 -->
    <delete id="delRoleByIds">
        DELETE FROM sys_p_role WHERE FIND_IN_SET(id,#{ids})
    </delete>

    <!-- 查询总记录数 -->
    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_p_role t,sys_p_user u WHERE t.user_id=u.id
        <if test="roleName != null and roleName !=''">
            and t.role_name like CONCAT('%', #{roleName}, '%')
        </if>
    </select>

    <!-- 查询列表数据 -->
    <select id="selectRows" resultType="java.util.HashMap">
        SELECT CONCAT(t.id,'') id,t.role_name roleName,t.role_code roleCode,u.username,t.create_time,t.note,
               (CASE WHEN t.super_admin = 0 THEN '不是' ELSE '是' END) super_admin
        FROM sys_p_role t,sys_p_user u
        WHERE t.user_id=u.id
        <if test="roleName != null and roleName !=''">
            and t.role_name like CONCAT('%', #{roleName}, '%')
        </if>
        limit #{starIndex},#{pageSize}
    </select>

    <select id="getAllRole" resultType="java.util.HashMap">
         SELECT role_name,role_code FROM sys_p_role
    </select>

    <select id="selectUserRoleByUserId" resultType="java.lang.String">
        SELECT role_code FROM sys_p_user_role WHERE user_id = #{userId}
    </select>

</mapper>