/* xhd */
.xpadding {
	padding: 20rpx 28rpx;
}
.radius20 {
	border-radius: 20rpx;
}
.baseW{
	background-color: #FFFFFF;
	border-radius: 20rpx;
	padding: 0 30rpx;
	margin-bottom: 20rpx;
}
.text-size26 {
	font-size: 26rpx;
}
.text-size32 {
	font-size: 32rpx;
}
radio {
	transform:scale(0.72)
}
.mytext-gray {
	color: #666;
}
input {
	font-size: 28rpx
}
.long-input {
	width: 540rpx;
}
.fixed {
	position: fixed;
	z-index: 99;
}
.pd50 {
	padding: 50rpx;
}
/* 设置列表开始 */
.setting > view {
	background-color: #fff;
}
.pt20 {
	padding-top: 20rpx;
}
.setting-top {
	border-bottom-right-radius: 20rpx;
	border-bottom-left-radius: 20rpx;
	margin-bottom: 20rpx;
}
.setting-top .avatar-box {
	padding: 7rpx 28rpx;
}
.setting-top .avatar {
	width: 100rpx;
	height: 100rpx;
	margin-right: 30rpx;
}
.setting-top .avatar image {
	width: 100%;
	height: 100%;
	border: solid 2rpx #eee;
}
.set-li {
	line-height: 48rpx;
	padding: 28rpx;
	border-bottom: 2rpx solid #F2F2F2;
}
.set-li text {
	width: 6em!important;
}
.set-li textarea {
	line-height: 48rpx;
	font-size: 28rpx;
	height: 120rpx;
}
.set-li .icon-right {
	margin-left: 20rpx;
}
.set-li input {
	font-size: 28rpx;
}
/* 设置列表结束 */
/* 订单页面开始 */
.order-bg {
	width: 100%;
	margin-bottom: 20rpx;
}
.order-top1 {
	position: absolute;
	width: 100%;
	top: 0;
	padding-top: 24rpx;
	
}
.order-top1 .text-xl {
	margin-bottom: 10rpx;
}
.order-top {
	position: absolute;
	width: 100%;
	top: 0;
	line-height: 140rpx;
}
.order-shop {
	margin-bottom: 20rpx;
	
}

.order-shop-name {
	margin: 0 20rpx 0 10rpx;
}
.icon-right {
	color: #ccc;
}
.order-goods {
	margin-bottom: 20rpx;
}
.order-img-box {
	width: 180rpx;
	height: 180rpx;
	box-shadow: 0px 0px 15px 0px rgba(6, 0, 1, 0.1);
	border-radius: 20rpx;
	padding: 2rpx;
	margin-right: 30rpx;
}
.order-img-box image {
	width: 176rpx;
	height: 176rpx;
	border-radius: 20rpx;
}
.order-goods-text {
	width: 422rpx;
}
.order-goods-text2 {
	width: 492rpx;
}
.order-goods-name {
	height: 80rpx;
	line-height: 40rpx;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 16rpx;
}
.guige {
	color: #666;
	margin-bottom: 26rpx;
}
.order-goods-price text {
	font-size: 32rpx;
}
.order-num {
	color: #666;
}
.btn-box {
	background-color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 19rpx 30rpx;
}
.base-btn {
	width: 160rpx;
	height: 60rpx;
	line-height: 60rpx;
	text-align: center;
	border: 2rpx solid #999;
	border-radius: 60rpx;
	font-size: 24rpx;
}
.gray-btn {
	border-color: #999;
	color: #999;
	margin-right: 20rpx;
}
.red-btn {
	border-color: #f22222;
	color: #f22222;
}
.order-detail {
	padding-bottom: 100rpx;
}
.order-detail .baseW {
	padding: 40rpx 28rpx 0;
}
.order-detail .order-address {
	padding: 28rpx 0;
	font-size: 24rpx;
}
.order-detail .order-address > view {
	border-left: 4rpx solid #F22222;
	padding-left: 24rpx;
}
.order-detail .order-address > view > view:nth-child(2) {
	font-weight: 30rpx;
	font-weight: bold;
	margin: 18rpx 0;
}
.order-price-box {
	font-size: 26rpx;
	color: #666;
	padding-bottom: 30rpx;
}
.order-price-box  > view {
	line-height: 50rpx;
}
.order-price-box  > view:last-child {
	color: #080808;
}
.baseW.order-msg {
	padding: 40rpx 0 0 ;
}
.order-msg > view:first-child {
	padding: 0 28rpx;
	padding-bottom: 20rpx;
}
.order-msg-title {
	font-size: 30rpx;
	font-weight: bold;
	margin-bottom: 30rpx;
}
.order-msg-title view:nth-child(2) {
	font-size: 26rpx;
	color: #666;
	font-weight: normal;
}
.order-msg-title view .icon {
	margin-left: 20rpx;
	font-size: 24rpx
}
.order-msg-lists {
	line-height: 50rpx;
	font-size: 26rpx;
	
}
.order-msg-lists .msg-title {
	width: 154rpx;
	display: inline-block;
}
.tousu {
	border-top: 2rpx solid #eee;
	text-align: center;
	font-size: 30rpx;
	line-height: 90rpx;
	height: 90rpx;
}
.tousu .icon {
	color: #F22222;
}

.baseW.order-logistics {
	padding: 40rpx 0;
	font-size: 30rpx
}
.order-logistics > view {
	border-left: 4rpx solid #3167ff;
	padding: 0 28rpx;
	font-size: 24rpx;
	color: #666;
}
.order-logistics > view > view > view:first-child {
	font-size: 30rpx;
	font-weight: bold;
	margin-bottom: 20rpx;
	color: #080808;
}
.order-logistics .icon {
	color: #080808;
}
.order-detail .icon-dizhi {
	color: #F22222;
	margin-right: 10rpx;
}
/* 订单页面结束 */
/* 添加，修改地址开始 */
.address {
	margin: 20rpx 0 148rpx;
}
.address-list {
	background-color: #fff;
	padding: 38rpx 28rpx;
	margin-bottom: 20rpx;
	border-radius: 20rpx;
}
.address .list-left {
	width: 630rpx;
	padding-right: 20rpx;
}
.list-left .name {
	font-size: 30rpx;
	margin-right: 40rpx;
	font-weight: bold;
}
.list-left .phone {
		font-weight: bold;
}
.list-left .default {
	color: #fff;
	background-color: #F22222;
	border-radius: 8rpx;
	font-size: 24rpx;
	padding: 0 7rpx;
	line-height: 34rpx;
	height: 34rpx;
	margin-left: 20rpx;
}
.list-left .address-detail {
	font-size: 24rpx;
	color: #666;
	margin-top: 16rpx;
}
.address .edit-btn {
	width: 80rpx;
	font-size: 24rpx;
	height: 64rpx;
	line-height: 64rpx;
	border-left: 2rpx solid #eee;
	text-align: right;
}
/* 添加，修改地址结束 */
/* 下面弹出来弹框样式开始 */
.popBox {
	padding-top: 20rpx;
}
.popBox label {
	line-height: 100rpx;
	border-bottom: 2rpx solid #eee;
}
.pupTitle {
	text-align: center;
	margin: 20rpx;
	font-size: 30rpx;
}
.popBox radio-group {
	margin: 0 30rpx;
}
.popBox .close{
	background-color: #F22222;
	color: #fff;
	line-height: 100rpx;
	text-align: center;
}
.popBox scroll-view {
	height: 556rpx;
}
.popBox scroll-view label:last-child {
	border-bottom: none;
}
/* 下面弹出来弹框样式结束 */
.tuikuan {
	padding-bottom: 180rpx;
}
.pre-title {
	margin-bottom: 20rpx;
}
/* 按钮浮动 */
.btn-fixed {
	position: fixed!important;
	left: 50rpx;
	bottom: 40rpx;
}
/* 没有订单 */
.no-order {
	text-align: center;
	padding-top: 230rpx;
	font-size: 30rpx;
}
.no-order image {
	width: 350rpx;
	height: 290rpx;
	margin-bottom: 20rpx;
}
.no-order view:last-child {
	font-size: 24rpx;
	color: #666;
	margin-top: 10rpx;
}
.disabled-radio .uni-radio-input {
	background-color: #eee;
}
/* 退货详情 底部 */
.refundBottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 0 20rpx;
	background-color: #fff;
}
.refundBottom > view {
	border-top: 1px solid #eee;
	padding: 22rpx 0;
}
.refundBottom > view view {
	width: 50%;
	line-height: 46rpx;
}
.refundBottom .icon {
	color: #F22222;
	margin-right: 10rpx;
}
.refundBottom > view view:first-child {
	border-right: 1px solid #eee;
}
.icon-dizhi {
	color: #F22222!important;
	font-size: 34rpx!important;
}

/* 弹窗 */
.tui-modal-custom {
	text-align: center;
}
.tui-tips-img {
	width: 150rpx;
	height: 150rpx;
	margin-top: 20rpx;
}
.tui-modal-custom-text {
	font-size: 30rpx;
	color: #333;
	padding: 30rpx 0 50rpx;
}
.tui-prompt-title {
	padding-bottom: 20rpx;
	font-size: 34rpx;
}
uni-toast,
uni-toast .uni-toast {
	z-index: 99999;
}
/* 分享按钮清除默认样式 */
button.pro-button::after {
	border: 0 none !important;
	box-shadow: none !important;
}
button.pro-button::before {
	content: '';
	width: 1px;
	position: absolute;
	left: -25rpx;
	background-color: #e6e6df;
}
.tui-por-del {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 6rpx 0;
}
.del-item {
	display: inline;
	padding: 0 8upx;
	margin-right: 10upx;
	text-align: center;
	border-radius: 10upx;
	font-size: 22upx;
}
.del-item-blue{
	border: 1upx solid #2ba4f7;
	color: #2ba4f7;
}
.del-item-red{
	border: 1upx solid #F22222;
	color: #F22222;
}
.del-item:last-child {
	margin-right: 0;
}