<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero2oneit.mall.member.mapper.MemberAddressMapper">

    <update id="setDefault">
        UPDATE member_address SET is_default=CASE WHEN id=#{id} THEN 1 ELSE 0 END WHERE member_id=#{memberId}
    </update>

    <select id="selectAll" resultType="java.util.Map">
        SELECT t.id,t.member_id memberId,t.nick_name nickName,t.receiver_name receiverName,
               t.address,t.longitude,t.latitude,t.street_addr streetAddr,t.receive_phone receivePhone,t.is_default isDefault
          FROM member_address t
        <include refid="common_where_if"/>
        LIMIT #{starIndex},#{pageSize}
    </select>

    <select id="selectTotal" resultType="java.lang.Integer">
        select count(1) from member_address t
        <include refid="common_where_if"/>
    </select>

    <sql id="common_where_if">
        <where>
            <if test="memberId != null and memberId !=''">
                AND t.member_id = #{memberId}
            </if>
        </where>
    </sql>

</mapper>