#注册服务名称
spring.application.name=${serviceName}
#配置信息且加载默认的sms-service.properties
spring.cloud.nacos.config.server-addr=${serverAddr}
spring.cloud.nacos.config.namespace=${serverNamespace}

#开发模式
spring.cloud.nacos.config.group=dev

#加载其他配置文件
spring.cloud.nacos.config.extension-configs[0].data-id=${serviceName}.yml
spring.cloud.nacos.config.extension-configs[0].group=dev
spring.cloud.nacos.config.extension-configs[0].refresh=true

spring.cloud.nacos.config.extension-configs[1].data-id=${otherFileName}.yml
spring.cloud.nacos.config.extension-configs[1].group=dev
spring.cloud.nacos.config.extension-configs[1].refresh=true