package ${package}.${moduleName}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${package}.${moduleName}.service.${className}Service;

/**
 * Description:
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/admin/${moduleName}/${classname}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

}
