.main {
    width: 80%;
    margin: 0 auto;
}
.u-main{
    width: 100%;
    display: flex;
    align-items: center;
}
.label-left{
    width: 72px;
    text-align: center;
}
.upload-content .modal-dialog {
    /*width: 100%;*/
}

.show {
    text-align: center;
}

/**
  TODO: 当表单中有多个上传图片功能时，需要在此添加样式，一般最多也就3个而已
 */
.upload-content .content-img-list, .upload-content .content-img-list-one, .upload-content .content-img-list-two, .upload-content .content-img-list-three, .upload-content .content-img-list-four {
    display: inline-block;
    padding: 0;
}

.upload-content .content-img .gcl {
    font-size: 25px;
    color: #aaa;
}

.upload-content .content-img-list-item {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 7px;
    border: 1px dashed #dedede;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 100px;
    overflow: hidden;
}

.upload-content .content-img-list-item .hide {
    display: none;
}

.upload-content .content-img-list-item div {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,.4);
    height: 100%;
    line-height: 100px;
}

.upload-content .content-img-list-item .delete-btn,.upload-content .content-img-list-item .big-btn {
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
}

.upload-content .content-img-list-item img {
    width: 100%;
}

.upload-content .file {
    position: relative;
    display: inline-block;
    border: 1px dashed #dedede;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #fff;
    vertical-align: top;
    margin: 7px;
}

.upload-content .file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.upload-content .file:hover {
    border: 1px dashed #3a75dc;
}

#imgPreview {
    width: 40%;
    height: 180px;
    margin: 10px auto 0;
    border: 1px solid #000;
    text-align: center;
}

#imgSpan {
    position: absolute;
    top: 60px;
    left: 40px;
}

.filepath {
    width: 100%;
    height: 100%;
    opacity: 0;
}

